@media (min-width: 768px) {
  .accordion-container {
    width: 100%;
  }

  .full-wide {
    svg {
      height: 4%;
      width: 4%;
    }
  }
}

.full-wide {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .bi-chevron-up {
    display: none;
  }

  svg {
    margin-top: 10%;
    height: 35px;
    width: 35px;
  }

  h4 {
    display: inline-block;
    max-width: 90%;
  }

  &:hover {
    cursor: pointer;
  }
}

.full-wide.wide-open {
  .bi-chevron-down {
    display: none;
  }

  .bi-chevron-up {
    display: inline-block;
  }
}

hr {
  border: 1px solid $teal;
}
