footer {
  border-top: 1px solid $yellow;
  width: 100%;

  .footer-row {
    min-height: 10rem;

    .mother-footer {
      padding-top: 8%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .full-height {
        height: 100%;
      }

      p {
        color: $teal;
      }

      ul {
        display: inline-flex;
        font-size: 1.1rem;
        list-style-type: none;
        overflow-x: contain;
        align-items: flex-end;
        padding-inline-start: 8%;

        li {
          margin-right: 1.25rem;

          a {
            color: $teal;
          }

          a:hover {
            color: $teal;
            text-decoration: none;
          }

          a:visited {
            color: $teal;
          }
        }
      }

      .social-links img {
        margin-top: -35%;
        max-height: 48px;
        height: auto;
        width: auto;
      }
    }
  }
}

@media (max-width: 769px) {
  footer .footer-row .mother-footer {
    ul {
      display: inline-flex;
      font-size: 1.1rem;
      list-style-type: none;
      overflow-x: contain;
      justify-content: center;
    }
  }
}

@media (max-width: 550px) {
  footer {
    .footer-row {
      padding: 1% 5% 1% 5%;

      .foot-border-right {
        border-right: 0.01px solid white;
      }

      .mother-footer-menu {
        width: 100%;
        margin-left: -15px;
      }
    }
  }
}
