main .banner {
  padding-top: 3rem;
  height: 93vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  min-height: 150px;

  img {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 90%;
    object-position: center; /* Center the image within the element */
  }

  .carousel {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 90%;

    .take-an-action {
      position: absolute;
      width: 100%;
      z-index: 1;
      // top: 22vh;
      height: 90%;
      max-height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .ze-action {
        background: rgba(54, 54, 54, 0.5);
        padding: 1.5%;
        max-width: 72%;
        margin-top: 24%;

        h2 {
          color: $cream;
        }

        button {
          font-size: 1.3rem;
          letter-spacing: 0.1rem;
          margin: 0;
          line-height: 1;
          cursor: pointer;
          position: relative;
          text-decoration: none;
          overflow: visible;
          padding: 0.7rem;
          font-weight: 500;
          border-radius: 1px;
          left: auto;
          color: $cream;
          background-color: $dark_blue;
          border: 1.25px solid $cream;
          display: inline-block;
          background-image: none;
          box-shadow: none;
          text-shadow: none;

          &:hover {
            background-color: $cream;
            text-decoration: none;
            background-image: none;
            border: 1.25px solid $dark_blue;
            color: $dark_blue;
          }
        }
      }
    }

    .carousel-control-prev {
      position: absolute;
      top: 0;
      bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: left;
      width: 5%;
      color: $teal;
      text-align: center;
      opacity: 0.9;
      -webkit-transition: opacity 0.15s ease;
      -o-transition: opacity 0.15s ease;
      transition: opacity 0.15s ease;
      z-index: 25;

      .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
      }
    }

    .carousel-control-next {
      position: absolute;
      top: 0;
      bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: flex-end;
      width: 5%;
      color: $teal;
      text-align: center;
      opacity: 0.9;
      -webkit-transition: opacity 0.15s ease;
      -o-transition: opacity 0.15s ease;
      transition: opacity 0.15s ease;
      z-index: 25;

      .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
      }
    }

    .carousel-indicators {
      top: 99%;

      li {
        background-color: $teal;
      }
    }
  }
}

@media (max-width: 768px) {
  main .banner {
    padding-top: 0.01rem;
    height: 69vh;
    background: $teal;
    justify-content: flex-start;
    align-items: flex-start;

    .carousel {
      .carousel-item {
        height: 600px;

        img {
          height: auto;
          width: 100%;
          object-fit: contain;
          margin-top: 0.25rem;
        }

        .take-an-action {
          margin-top: 8%;

          .ze-action {
            padding: 2% 1.25% 2% 1.25%;
            width: 90%;
            max-width: 100%;

            h2 {
              font-size: 2rem;
            }

            button {
              font-size: 100%;
              margin: 0;
              line-height: 1;
              overflow: visible;
              padding: 0.5rem;
            }
          }
        }
      }

      .carousel-control-prev {
        position: absolute;
        top: -25%;
        opacity: 1;

        .carousel-control-prev-icon {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,247)' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
        }
      }

      .carousel-control-next {
        position: absolute;
        top: -25%;
        opacity: 1;

        .carousel-control-next-icon {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,247)' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
        }
      }

      .carousel-indicators {
        top: 105%;

        li {
          background-color: $cream;
        }
      }
    }
  }
}

.first-row {
  position: relative;
  height: 420px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5%;

  .first-row-inner {
    height: 90%;
    width: 80%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: inset 0 0 0 1000px rgba(29, 53, 87, 0.65);

    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        text-decoration: none;
      }
    }

    h4 {
      text-align: center;
      color: $cream;
    }
  }
}

.creation {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 920px;
  box-shadow: inset 0 0 0 1000px rgba(29, 53, 87, 0.65);

  .creation-inner {
    height: 95%;
    width: 92%;
    background-color: $cream;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .sm-is {
      width: 90%;
      height: 100%;
      margin-top: 5%;
    }

    .sm-util {
      width: 90%;
      height: 100%;
      margin-top: 5%;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          padding-left: 2.8em;
          text-indent: -3em;
          height: 10%;
          line-height: 10px;
          padding-top: 4px;
        }

        li::before {
          background: url("../images/akok.gif") no-repeat center center;
          background-size: contain;
          content: " ";
          display: inline-block;
          margin: 0 -8px 0 0;
          height: 30px;
          width: 34px;
          vertical-align: middle;
          transform: rotate(180deg);
        }
      }
    }
  }

  @media (min-width: 785px) {
    height: 600px;

    .creation-inner {
      height: 92%;
      width: 81%;
      background-color: $cream;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: top;

      .sm-is {
        width: 38%;
        height: 100%;
        padding-top: 1.5%;

        div {
          height: 100%;
        }
      }

      .sm-util {
        width: 48%;
        height: 100%;
        padding-top: 1.5%;

        div {
          height: 100%;
        }

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          height: 90%;

          li {
            padding-left: 2.8em;
            text-indent: -3em;
            height: 10%;
          }

          li::before {
            background: url("../images/akok.gif") no-repeat center center;
            background-size: contain;
            content: " ";
            display: inline-block;
            margin: 0 -8px 0 0;
            height: 30px;
            width: 34px;
            vertical-align: middle;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

.mother {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.symbols {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  .mother {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .symbols-intro {
      width: 60%;

      h3 {
        text-align: center;
      }
    }
  }

  .symbols-row {
    text-align: center;
    margin-top: 2rem;

    img {
      max-width: 100px;
      height: auto;
      margin-bottom: 0.5rem;
    }
  }
}

// @media (max-width: 952px) {
//   main .banner {
//     height: 35vh;
//     width: 98%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden;

//     img {
//       flex-shrink: 0;
//       -webkit-flex-shrink: 0;
//       width: 100%;
//       height: auto;
//       max-width: 100%;
//       max-height: 90%;
//     }

//     .carousel {
//       flex-shrink: 0;
//       -webkit-flex-shrink: 0;
//       width: 100%;
//       height: auto;
//       max-width: 100%;
//       max-height: 90%;

//       .take-an-action {
//         position: absolute;
//         width: 100%;
//         z-index: 15;
//         top: 20%;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;

//         .ze-action {
//           background: rgba(54, 54, 54, 0.5);
//           padding: 2%;
//           width: 65%;

//           h2 {
//             color: white;
//             font-size: 1.2rem;
//           }

//           button {
//             font-size: 80%;
//             margin: 0;
//             line-height: 1;
//             cursor: pointer;
//             position: relative;
//             text-decoration: none;
//             overflow: visible;
//             padding: 0.5rem;
//             font-weight: 300;
//             border-radius: 1px;
//             left: auto;
//             color: white;
//             background-color: $dark_blue;
//             border: 1px solid white;
//             display: inline-block;
//             background-image: none;
//             box-shadow: none;
//             text-shadow: none;

//             &:hover {
//               background-color: white;
//               text-decoration: none;
//               background-image: none;
//               border: 1px solid $dark_blue;
//               color: $dark_blue;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media (max-width: 767px) {
//   main .banner {
//     height: 35vh;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden;

//     img {
//       flex-shrink: 0;
//       -webkit-flex-shrink: 0;
//       width: 100%;
//       height: auto;
//       max-width: 100%;
//       max-height: 90%;
//     }

//     .carousel {
//       flex-shrink: 0;
//       -webkit-flex-shrink: 0;
//       width: 100%;
//       height: auto;
//       max-width: 100%;
//       max-height: 90%;

//       .take-an-action {
//         position: absolute;
//         width: 100%;
//         z-index: 15;
//         top: 20%;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;

//         .ze-action {
//           background: rgba(54, 54, 54, 0.5);
//           padding: 2%;
//           width: 65%;

//           h2 {
//             color: white;
//             font-size: 1.2rem;
//           }

//           button {
//             font-size: 80%;
//             margin: 0;
//             line-height: 1;
//             cursor: pointer;
//             position: relative;
//             text-decoration: none;
//             overflow: visible;
//             padding: 0.5rem;
//             font-weight: 300;
//             border-radius: 1px;
//             left: auto;
//             color: white;
//             background-color: $dark_blue;
//             border: 1px solid white;
//             display: inline-block;
//             background-image: none;
//             box-shadow: none;
//             text-shadow: none;

//             &:hover {
//               background-color: white;
//               text-decoration: none;
//               background-image: none;
//               border: 1px solid $dark_blue;
//               color: $dark_blue;
//             }
//           }
//         }
//       }
//     }
//   }

// }
