$breakpoint_tablet: 843px;
$breakpoint_desktop: 844px;
$breakpoint_mobile: 550px;
$max_header_width: 100%;

$color_background: #fffff7;
$color_background_alt: #e0e5eb;
$color_text: #121212;
$color_text_alt: #36bae6;
$color_border: #e0e5eb;

$transition_link: 0.14s ease-in-out;
$transition_anim: 0.22s ease-in-out;

a {
  display: inline-block;
  text-decoration: none;

  &.button {
    padding: 0.5rem 1rem;
    background: $color_text;
    color: $color_background;
    text-align: center;

    &.primary {
      background: $color_text_alt;
      color: $color_background_alt;
    }
  }
}

/* Header */

header {
  position: sticky;
  top: 0;
  height: 6.5rem;
  width: 100%;
  background: $color_background;
  z-index: 49;

  .banner .nav li {
    @extend .nav-item;
  }

  .banner .nav a {
    @extend .nav-link;
  }
}

header .shmushmainer {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $max_header_width;
  padding: 0 1.5rem;
  margin: 0 auto;
  border-bottom: 1px solid $color_border;
  background: $color_background;
  height: 3.5rem;
  min-height: 110px;

  a.brand {
    width: 100%;
    z-index: 99;

    .logo {
      display: inline-flex;
      width: auto;
      height: 100px;
      margin-left: 10px;
      max-height: 12rem;
    }
  }
}

// Hamburger styles
input.hamburger-button {
  display: none; // Hide checkbox

  & ~ label {
    position: relative;
    padding: 0.25rem;
    width: 1.5rem;
    height: 1.25rem;

    & > div,
    & > div::before,
    & > div::after {
      content: "";
      position: absolute;
      top: 0.825rem;
      height: 0.125rem;
      width: 1.5rem;
      opacity: 1;
      background: $dark_blue;
      transition: $transition_link;
    }

    & > div::before {
      top: -0.5rem;
    }

    & > div::after {
      top: 0.5rem;
    }
  }
}

// Default menu styles
// Menu CLOSED styles
header .shmushmainer .menu {
  position: absolute;
  top: 3.5rem;
  left: calc(-100vw - 3rem); // VP + padding
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  width: 100%;
  background: $color_background;
  transition: $transition_anim;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background: $color_background;
  }

  nav {
    grid-area: auto; // Unset from other layouts
    display: block;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 1.3rem;
    font-family: $bernina;
    align-items: center;
    left: 0;
    padding-left: 0.0001px;
    position: fixed;

    a {
      color: $teal;
    }

    a:hover {
      color: $teal;
      text-decoration: none;
    }

    a:visited {
      color: $teal;
    }

    li.menu-item-has-children {
      position: relative;
      margin-right: 15px;

      a {
        display: inline-block;
        position: relative;

        &::after {
          content: " ";
          width: 10px;
          height: 15px;
          background: url(../images/menu-drop.svg) no-repeat center;
          background-size: contain;
          display: inline-block;
          position: absolute;
          top: 30px;
          right: -1px;
          transition: transform 0.3s ease;
          transform: rotate(0deg);
          z-index: 100;
        }
      }

      ul.sub-menu {
        position: absolute;
        width: fit-content;
        z-index: 108;
        background: rgba(255, 255, 247, 0.9);
        margin-left: 1.3rem;
        height: fit-content;
        font-size: 1.1415927654rem;
        text-align: left;
        display: none;

        @media (min-width: $breakpoint_desktop) {
          border-top: 3px solid $teal;
          box-shadow: 3px 1px 12px -7px #000;

          li {
            &:hover {
              background: rgba(78, 205, 196, 0.1);
            }
          }
        }

        li {
          line-height: 1;
          width: 100%;
          // border-bottom: 1px solid $teal;
          padding: 0.5rem;

          a {
            cursor: pointer;
            letter-spacing: 0.02em;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;

            // &::before {
            //   content: "";
            //   width: 5px;
            //   height: 5px;
            //   display: block;
            //   background: $dark_blue;
            //   border-radius: 50%;
            //   position: absolute;
            //   top: 15px;
            //   left: -3px;
            // }

            &::after {
              display: none;
            }
          }

          &.current-menu-item {
            a {
              color: $teal;
            }
          }
        }
      }

      &:hover {
        a {
          @media (min-width: $breakpoint_desktop) {
            &::after {
              transform: rotate(90deg);
            }
          }
        }

        ul.sub-menu {
          display: block;
        }
      }
    }

    @media (max-width: $breakpoint_tablet) {
      display: none;
    }
  }
}

@media (max-width: $breakpoint_tablet) {
  // Menu OPEN styles
  header .shmushmainer .hamburger-button:checked {
    & ~ label {
      & > div {
        width: 0;
        background: transparentize($color_text, 1);
      }

      & > div::before {
        transform: rotateZ(45deg);
        top: 0;
      }

      & > div::after {
        transform: rotateZ(-45deg);
        top: 0;
      }
    }

    & ~ .menu {
      left: 0;

      nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;

        li {
          min-height: 10%;
          font-size: 2rem;
        }

        li.menu-item-has-children {
          a {
            &::after {
              width: 10px;
              height: 100%;
              background: url(../images/menu-drop.svg) no-repeat center;
              top: 1%;
              right: -25px;
            }
          }

          &.open {
            a {
              &::after {
                transform: rotate(90deg);
              }
            }
          }

          ul.sub-menu {
            top: -1%;
            margin-left: 140%;

            li {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint_mobile) and (max-width: $breakpoint_tablet) {
  // Menu OPEN styles
  header .shmushmainer .hamburger-button:checked {
    & ~ .menu {
      nav ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 15%;
        width: 100%;
        height: 100%;

        li {
          min-height: 10%;
          font-size: 2rem;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        li.menu-item-has-children {
          position: relative;
          margin-right: 0.001px;

          a {
            &::after {
              width: 10px;
              height: 100%;
              background: url(../images/menu-drop.svg) no-repeat center;
              top: 1%;
              right: -25px;
            }
          }

          &.open {
            a {
              &::after {
                transform: rotate(90deg);
              }
            }
          }

          ul.sub-menu {
            display: none;
            top: -1%;
            // display: flex;
            position: relative;
            width: 80%;
            margin: 0 auto;
            padding-top: 15px;
            list-style-type: disc;
            text-align: center;

            li {
              font-size: 1.5rem;

              a {
                &::before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Media queries */
@media only screen and (min-width: $breakpoint_tablet) {
  header {
    height: 6.5rem;
    border-bottom: 1px solid $color_border;
  }

  header .shmushmainer {
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: flex-start;
    border: none;
  }

  input.hamburger-button ~ label {
    display: none;
  }

  header .shmushmainer .menu {
    z-index: 99;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: 3.5rem 3rem;
    background: none;
    transition: none;

    &::after {
      display: none;
    }

    div.buttons {
      grid-area: 1/2/2/3;
      box-sizing: border-box;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      border: none;
    }

    nav {
      grid-area: 1/2/2/3;
      z-index: 101;
    }

    nav ul {
      flex-direction: row;
      justify-content: center;
      z-index: 105;

      & > li {
        flex: 1;
      }

      & > li > a {
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint_desktop) {
  header {
    height: 3.5rem;
  }

  header .shmushmainer .menu {
    box-sizing: border-box;
    grid-template-columns: 4rem auto max-content;
    grid-template-rows: 1fr;
    height: 100%;
    padding: 0 1.5rem;
    transition: none;

    nav {
      grid-area: 1/2/2/3;
    }

    nav ul {
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      width: 100%;

      & > li {
        flex: 0;
      }

      & > li > a {
        width: max-content;
        padding: 1.25rem 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint_mobile) {
  header .shmushmainer .logo {
    margin-left: -10px;
    margin-top: 2.5%;

    .brand div svg {
      max-width: 14rem;
      max-height: 80px;
      height: 80px;
      width: auto;
    }
  }
}
