.single-page {
  padding: 2% 11% 1 % 11%;
}

.pad-it {
  padding: 1% 5% 1 % 5%;
}

.center-it {
  text-align: center;
}

.pad-the-top {
  padding-top: 3.5%;
}

.page-single {
  .heady {
    width: 100%;
    border-bottom: 1px solid $yellow;

    h1 {
      font-size: 2.5rem;
      font-weight: 500;
      padding-bottom: 1.5%;
      text-transform: uppercase;
    }
  }
}

.full-wide {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .bi-chevron-up {
    display: none;
  }

  h5 {
    display: inline-block;
  }

  &:hover {
    cursor: pointer;
  }
}

.full-wide.wide-open {
  .bi-chevron-down {
    display: none;
  }

  .bi-chevron-up {
    display: inline-block;
  }
}

.guide {
  padding-top: 6%;
  margin: 0 auto;
  max-width: 1200px;

  h2 {
    padding: 20px 0 30px 0;
    font-weight: 300;
  }

  h3 {
    font-size: 1.333rem;
    padding: 20px 0 5px 0;
    font-weight: 400;
  }

  p {
    padding: 15px 0 15px 0;
    font-weight: 500;
  }

  img {
    padding: 20px 0 20px 0;
  }
}
