.single-page {
  padding: 0 25px 0 25px;
  max-width: 1000px;
  margin: 0 auto;
}

.pad-it {
  padding: 1% 5% 1 % 5%;
}

.center-it {
  text-align: center;
}

.pad-the-top {
  padding-top: 3.5%;
}

.single-page-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 24rem;
  width: 100%;
  background-size: cover !important;
  box-shadow: inset 0 0 0 1000px rgba(29, 53, 87, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;

  .ze-title {
    // background: rgba(255, 230, 109, 0.85);
    padding: 1.5%;
    width: 65%;
    border-radius: 1%;

    h1 {
      color: $cream;
      font-size: 3.8rem;
    }

    hr {
      border-color: $teal;
    }
  }
}

@media (max-width: 992px) {
  .single-page-header {
    margin-top: 3rem;
    // padding-top: 6rem;
    margin-bottom: 2rem;
    height: 24rem;
    width: auto;
    background-size: contain;
    box-shadow: inset 0 0 0 1000px rgba(29, 53, 87, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    .ze-title {
      // background: rgba(255, 230, 109, 0.85);
      padding: 1.5%;
      width: 80%;
      border-radius: 1%;

      h1 {
        color: $cream;
        font-size: 3.2rem;
      }

      hr {
        border-color: $teal;
      }
    }
  }
}

@media (max-width: 767px) {
  .single-page-header {
    margin-top: 0.25rem;
    margin-bottom: 0;
    height: 11.35rem;
    width: auto;
    background-size: contain !important;
    box-shadow: inset 0 0 0 1000px rgba(29, 53, 87, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;

    .ze-title {
      // background: rgba(255, 230, 109, 0.85);
      padding: 1.5%;
      width: 100%;
      border-radius: 1%;

      h1 {
        color: $cream;
        font-size: 2.5rem;
      }

      hr {
        border-color: $teal;
      }
    }
  }
}

.page-single {
  .heady {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid $yellow;

    h1 {
      font-size: 2.5rem;
      font-weight: 500;
      padding-bottom: 1.5%;
      text-transform: uppercase;
    }
  }
}

.full-wide {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .bi-chevron-up {
    display: none;
  }

  h5 {
    display: inline-block;
  }

  &:hover {
    cursor: pointer;
  }
}

.full-wide.wide-open {
  .bi-chevron-down {
    display: none;
  }

  .bi-chevron-up {
    display: inline-block;
  }
}

.guide {
  padding-top: 6%;
  margin: 0 auto;
  max-width: 1200px;

  h2 {
    padding: 20px 0 30px 0;
    font-weight: 300;
  }

  h3 {
    font-size: 1.333rem;
    padding: 20px 0 5px 0;
    font-weight: 400;
  }

  p {
    padding: 15px 0 15px 0;
    font-weight: 500;
  }

  img {
    padding: 20px 0 20px 0;
  }
}

.carousel-repeater {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .carousel-item {
    min-height: 575px;
  }

  .testi-text p {
    min-height: 450px;
    max-width: 85%;
  }

  .carousel-indicators {
    top: 96%;

    li {
      background-color: $teal;
    }
  }

  .carousel-control-prev {
    position: absolute;
    top: -60px;
    bottom: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: left;
    width: 5%;
    color: $teal;
    text-align: center;
    opacity: 0.9;
    -webkit-transition: opacity 0.15s ease;
    -o-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;

    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(69,123,157)' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
    }
  }

  .carousel-control-next {
    position: absolute;
    top: -60px;
    bottom: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
    width: 5%;
    color: $teal;
    text-align: center;
    opacity: 0.9;
    -webkit-transition: opacity 0.15s ease;
    -o-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;

    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(69,123,157)' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
    }
  }
}

.entry-title {
  padding-top: 25px;

  a {
    color: $teal;
    font-family: $bernina;
    font-size: 2.4rem;

    &:hover {
      color: $teal;
      font-family: $bernina;
      font-size: 2.4rem;
      text-decoration: underline;
    }
  }
}

header.tribe-events-header,
header.tribe-events-calendar-month__header,
header.tribe-events-calendar-list__event-header {
  position: relative;
  height: auto;
  background: none;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
  padding-top: 10px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-wrapper {
  z-index: 1;
}
