/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Import Adobe Fonts **/
@import url("https://use.typekit.net/yco2koc.css");

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$dark_blue: #1d3557;
$teal: #457b9d;
$cream: #f1faee;
$red: #e63946;
$yellow: #a8dadc;
$grey: rgba(168, 188, 193, 0.82);

$bernina: playfair-display, serif;
$source: source-serif-pro, serif;
