<div class="page-width page-content">

  {% include 'breadcrumbs' %}

	<div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

     <style>
p {padding-top: 5px;}
</style>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
      {% form 'contact' %}
        {% if form.posted_successfully? %}
          <p class="form-success">
            Thank you for submitting a quote request, our sales team will email you a quote typically within an hour.
          </p>
        {% endif %}

        {{ form.errors | default_errors }}
    <div id="accordion" class="ui-accordion ui-widget ui-helper-reset" role="tablist">
        <h3 class="ui-accordion-header ui-corner-top ui-state-default ui-accordion-header-active ui-state-active ui-accordion-icons" role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="true" aria-expanded="true" tabindex="0">
         <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>Step 1: Select Collar Location
      </h3>
        <div class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content ui-accordion-content-active" id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false" style="display: block; height: 554px;">
            <div class="wid100">
                <img src="https://cdn.shopify.com/s/files/1/0392/7139/9469/files/new_one.jpg?v=1599584240" class="resp-img">
                <div class="wid100">
                    <p>Select Collar Location</p>
                    <span> 
                      <ul>
                        <li><input type="radio" name="contact[collar_location]" class="collar_location" id="top_collar" value="top_collar" checked> Top Collar (more common) </li>
                        <li><input type="radio" name="contact[collar_location]" class="collar_location" value="middle_collar"> Middle Collar (less common) </li>
                      </ul>
                        </span>
                  
                    <p>
                        <button type="button" name="btn_next" class="btn_next btn" value="Next">Next</button>
                    </p>
                </div>
            </div>
        </div>
        <h3 class="ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons" role="tab" id="ui-id-3" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="-1">
         <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><span class="topcoller_title">Step 2: Select Collar Style</span><span class="middlecoller_title" style="display: none;">Step 2: Measure Centerline Distance &amp; Back Height</span>
      </h3>
        <div class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-4" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true" style="display: none; height: 554px;">
            <div class="wid100">
                <img src="https://cdn.shopify.com/s/files/1/0392/7139/9469/files/new_two_topcoller.jpg?v=1599584813" class="resp-img topcoller"> <img src="https://cdn.shopify.com/s/files/1/0392/7139/9469/files/new_two_middlecoller.jpg?v=1599584839" class="resp-img middlecoller" style="display: none;">
                <div class="wid100">
                    <p class="topcoller ">Select Collar Style</p>
                    <p class="middlecoller " style="display: none;">Measure Centerline Distance &amp; Back Height</p>
                    <p class="topcoller"> </p>
                    <ul class="topcoller">
                        <li>
                            <input type="radio" name="contact[collar_style]" class="collar_style" value="inline" checked> Inline
                        </li>
                        <li>
                            <input type="radio" name="contact[collar_style]" class="collar_style" value="inset"> Inset
                        </li>
                        <li>
                            <input type="radio" name="contact[collar_style]" class="collar_style" value="offset"> Offset
                        </li>
                    </ul>
                    <p> </p>
                  {% comment %}
                    <div class="middlecoller " style="display: none;">
                        <div class="wid50">
                            <p>Measure Center Line Distance</p>
                            <br>
                            <p>
                                <input type="text" name="contact[Centerline_Distance]" class="Centerline_Distance1"> Inches</p>
                        </div>
                        <div class="wid50">
                            <p>Measure Overall Back Height</p>
                            <br>
                            <p>Measurement:Inches </p>
                            <p>
                                <input type="text" name="contact[Overall_Back_Height]" class="Overall_Back_Height1">
                            </p>
                        </div>
                    </div>
            
                    <p class="topcoller "><span style="display: none;"> 
                  Measurement: <input type="text" name="contact[collar_style_dimension]" class="collar_style_dimension" placeholder="Dimension"> Inches <br> Distance from center of bar to back of fork </span>
                    </p>
                  {% endcomment %}
                    <p><span><button type="button" name="btn_previous" class="btn_previous btn" value="Previous">Previous</button></span>
                        <button type="button" name="btn_next" class="btn_next btn" value="Next">Next</button>
                    </p>
                </div>
            </div>
        </div>
        <h3 class="ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons" role="tab" id="ui-id-5" aria-controls="ui-id-6" aria-selected="false" aria-expanded="false" tabindex="-1">
         <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><span class="topcoller_title">Step 3: Specify Centerline Distance &amp; Required Lifting Capacity</span><span class="middlecoller_title" style="display: none;">Step 3: Required Lifting Capacity</span>
      </h3>
        <div class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-6" aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="true" style="display: none; height: 554px;">
            <div class="wid100">
                <img src="https://cdn.shopify.com/s/files/1/0392/7139/9469/files/step3_topcoller.png" class="resp-img topcoller"> <img src="https://cdn.shopify.com/s/files/1/0392/7139/9469/files/step3-midddle-colar.png" class="resp-img middlecoller" style="display: none;">
                <div class="wid50 topcoller">
                    <div>
                        <p>Input Centerline Distance (inches)</p>
                     
                            <input type="text" name="contact[center_line_distance]" class="center_line_distance">
                    </div>
                </div><br>
                <div class="wid50 topcoller">
                    <div>
                        <p>Specify Lifting Capacity (lbs)</p>
                       
                            <input type="text" name="contact[capacity]" class="capacity">
                    </div>
                </div><br>
                <div class="wid50 middlecoller" style="display: none;">
                    <div>
                        <p>Specify Lifting Capacity (lbs)</p>
                      
                            <input type="text" name="contact[capacity1]" class="capacity1"> 
                    </div>
                </div>
                <p><span><button type="button" name="btn_previous" class="btn_previous btn" value="Previous">Previous</button></span> <span><button type="button" name="btn_next" class="btn_next btn" value="Next">Next</button></span></p>
            </div>
        </div>
        <h3 class="ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons" role="tab" id="ui-id-7" aria-controls="ui-id-8" aria-selected="false" aria-expanded="false" tabindex="-1">
         <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>Step 4: Specify Fork Length ,Width and Thickness
      </h3>
        <div class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-8" aria-labelledby="ui-id-7" role="tabpanel" aria-hidden="true" style="display: none; height: 554px;">
            <div class="wid100">
                <!--<img src="/images/three.jpg" class="resp-img" />--><img src="https://cdn.shopify.com/s/files/1/0392/7139/9469/files/Step4.png" class="resp-img">
                <div class="wid50">
                    <div>
                        <p>Fork Length</p>
                       
                            <input type="text" name="contact[fork_length]" class="fork_length1">
                    </div>
                </div>
              <br>
                <div class="wid50">
                    <div>
                     
                        <p>Fork Width</p>
                            <input type="text" name="contact[fork_width]" class="fork_width1">
                    </div>
                </div>
              <br>
                <div class="wid50">
                    <div>
                        <p>Fork Thickness</p>
                     
                            <input type="text" name="contact[fork_thickness]" class="fork_thickness1">
                    </div>
                </div>
                <p style="clear: both;"><span><button type="button" name="btn_previous" class="btn_previous btn" value="Previous">Previous</button></span> <span><button type="button" name="btn_next" class="btn_next btn" value="Next">Next</button></span></p>
            </div>
        </div>
        <h3 class="ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons" role="tab" id="ui-id-9" aria-controls="ui-id-10" aria-selected="false" aria-expanded="false" tabindex="-1">
         <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>Step 5: Specify Fork Taper
      </h3>
        <div class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-10" aria-labelledby="ui-id-9" role="tabpanel" aria-hidden="true" style="display: none; height: 554px;">
            <div class="wid100">
                <!--<img src="/images/three.jpg" class="resp-img" />--><img src="https://cdn.shopify.com/s/files/1/0392/7139/9469/files/Step5.png" class="resp-img">
                <p class="">Select Taper Style
                  
                    <br> <span>
                  <ul>
                    
                    <li><input type="radio" name="contact[taper_style]" class="taper_style" value="Standard" checked> Standard </li>
                    <li><input type="radio" name="contact[taper_style]" class="taper_style" value="Full"> Full </li>
                    <li><input type="radio" name="contact[taper_style]" class="taper_style" value="Custom"> Custom </li>
                  </ul>
                  </span>
              
                <p>
                  <span>
                    <button type="button" name="btn_previous" class="btn_previous btn" value="Previous">Previous</button>
                  </span> <span><button type="button" name="btn_next" class="btn_next btn" value="Next">Next</button>
                  </span>
              </p>
            </div>
        </div>
        <h3 class="ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons" role="tab" id="ui-id-11" aria-controls="ui-id-12" aria-selected="false" aria-expanded="false" tabindex="-1">
         <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>Step 6: Bar OD
      </h3>
        <div class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-12" aria-labelledby="ui-id-11" role="tabpanel" aria-hidden="true" style="display: none; height: 554px;">
            <div class="wid100">
                <!--<img src="/images/four.jpg" class="resp-img" />--><img src="https://cdn.shopify.com/s/files/1/0392/7139/9469/files/step6.png" class="resp-img">
                <div class="wid50">
                    <div>
                        <p>Outer Diameter of Bar/Pin/Shaft (inches)</p>
                            <input type="text" name="contact[Diameter_of_Bar]" class="fork_width2">
                    </div>
                </div><br>
                <div class="wid50">
                    <div>
                        <p>Is Tube/Collar Slotted?</p>
                      <ul>
                        <li><input type="radio" name="contact[Bar_OD]" class="Bar_OD" value="yes">Yes</li>
                        <li><input type="radio" name="contact[Bar_OD]" class="Bar_OD" value="no" checked> No</li>
                      </ul>
                    </div>
                </div><br>
              <p>
                <span><button type="button" name="btn_previous" class="btn_previous btn" value="Previous">Previous</button></span> <span><button type="button" name="btn_next" class="btn_next btn" value="Next">Next</button></span>
                 </p>
            </div>
        </div>
        <h3 class="ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons" role="tab" id="ui-id-13" aria-controls="ui-id-14" aria-selected="false" aria-expanded="false" tabindex="-1">
         <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>Step 7: Equipment Specifications &amp; Magna Forklift Fork Benefits
      </h3>
        <div class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-14" aria-labelledby="ui-id-13" role="tabpanel" aria-hidden="true" style="display: none; height: 554px;">
            <div class="wid100">
                <img src="https://cdn.shopify.com/s/files/1/0392/7139/9469/files/step7.png" class="resp-img">
                <div class="wid100">
                    <p>Equipment Specification &amp; Magna Forklift Fork Benefits</p>
                    <div>
                        <p class="max250">Make:
                            <input type="text" name="contact[make]" class="make">
                        </p>
                        <p class="max250">Model:
                            <input type="text" name="contact[model]" class="model">
                        </p>
                        <p class="max250">First Name:
                            <input type="text" name="contact[first_name]" class="first_name">
                        </p>
                        <p class="max250">Company Name:
                            <input type="text" name="contact[company_name]" class="company_name">
                        </p>
                        <p class="max250">Email Address:
                            <input type="text" name="contact[email]" class="contact_info">
                        </p>
                       <p class="max250">Custom Comments:
                         <textarea type="text" name="contact[comments]" class="contact_info"></textarea>
                        </p>
                    </div>
                    <p>
                        <span><button type="button" name="btn_previous" class="btn_previous btn" value="Previous">Previous</button></span>
                        <input type="hidden" name="action" value="add_faq_front_data">
                        <!--<span><input type="button" name="btn_next" class="btn_next" value="Next" /></span>--><span><button type="submit" name="btn_submit" class="btn_submit btn" value="{{ 'contact.form.send' | t }}">submit</button></span>
                    </p>
                </div>
            </div>
        </div>
        <!--<h3>Step 8: Contact Information</h3>
         <div>
         	<div class="wid100">
         		<div class="wid50">
         			<div>
         				<p>Contact Name : <input type="text" name="contact_name" class="contact_name" required /></p>
         				<p>Company Name : <input type="text" name="company_name" class="company_name" required /></p>
         				<p>Ship to Address : <textarea name="ship_to_address" id="ship_to_address" required></textarea></p>

         			</div>
         			<p>
         				<span><input type="button" name="btn_previous" class="btn_previous" value="Previous" /></span>
         				<input type="hidden" name="action" value="add_faq_front_data" />
         				<input type="hidden" name="wpnonce" value="0289765077" />
         				<span><input type="submit" name="btn_submit" class="btn_submit" value="submit" /></span>
         			</p>
         		 </div>
         		<div class="wid50">
         				<p>Email : <input type="email" name="email" class="email" required /></p>
         				<p>Phone Number : <input type="text" name="phone_number" class="phone_number" required /></p>
         				<p>Comment : <textarea name="comment" id="comment"></textarea></p>
         		</div>
         	</div>
         </div>-->
    </div>
{% endform %}
<script>// <![CDATA[
jQuery( function( $ ) { 
	function openNextAccordionPanel() {
		var current = $( "#accordion" ).accordion("option","active"),
			maximum = $( "#accordion" ).find("h3").length,
			next = current+1 === maximum ? 0 : current+1;
		// $accordion.accordion("activate",next); // pre jQuery UI 1.10
		$( "#accordion" ).accordion("option","active",next);
	}
	function openPreviousAccordionPanel() {
		var current = $( "#accordion" ).accordion("option","active"),
			maximum = $( "#accordion" ).find("h3").length,
			next = current-1 === maximum ? 0 : current-1;
		// $accordion.accordion("activate",next); // pre jQuery UI 1.10
		$( "#accordion" ).accordion("option","active",next);
	}
	
	jQuery(".collar_location").change(function(){
		var val=jQuery(this).val();
		
		if(val=='top_collar'){
			jQuery('.topcoller').css("display","block");
			jQuery('.middlecoller').css("display","none");
			jQuery('.topcoller_title').css("display","inline-block");
			jQuery('.middlecoller_title').css("display","none");
			
		}else{
			jQuery('.topcoller').css("display","none");
			jQuery('.middlecoller').css("display","block");
			jQuery('.topcoller_title').css("display","none");
			jQuery('.middlecoller_title').css("display","inline-block");
		}
	})
	
	
	
	$( "#accordion" ).accordion({
		"collapsible": true,
		"autoHeight": false
	});
	$("#accordion h3").unbind("click");
	$("body").on("click",".collar_style",function(){
		if($(this).val() == "inset" || $(this).val() == "offset"){
			$(".collar_style_dimension").parent().show();
		}else{
			$(".collar_style_dimension").parent().hide();
		}
	});
	$("body").on("click",".fork_width",function(){
		if($(this).val() == "other"){
			$(".fork_width_measurement").parent().show();
		}else{
			$(".fork_width_measurement").parent().hide();
		}
	});
	$("body").on("click",".btn_next",function(){
		if($(".collar_style:checked").val() == "inset" || $(".collar_style:checked").val() == "offset"){
			if($(".collar_style_dimension").val() == ""){
				alert("Enter Measurement");
				return false;
			}
		}
		
		if(jQuery("input[name='contact[collar_location]']:checked").val()=='top_collar'){
			if($(".ui-accordion-content-active").find(".center_line_distance").val() == ""){
				alert("Input Centerline Distance");
				return false;
			}
			if($(".ui-accordion-content-active").find(".capacity").val() == ""){
				alert("Specify Lifting Capacity");
				return false;
			}
		}else{
			if($(".ui-accordion-content-active").find(".Centerline_Distance1").val() == ""){
				alert("Enter Center Line Distance");
				return false;
			}
			if($(".ui-accordion-content-active").find(".Overall_Back_Height1").val() == ""){
				alert("Enter Overall Back Height");
				return false;
			}
			
			
			if($(".ui-accordion-content-active").find(".capacity1").val() == ""){
				alert("Specify Lifting Capacity");
				return false;
			}  
			
		}
		
		if($(".ui-accordion-content-active").find(".fork_thickness").val() == ""){
			alert("Enter Fork Thickness");
			return false;
		}
		if($(".fork_width:checked").val() == "other"){
			if($(".fork_width_measurement").val() == ""){
				alert("Enter Fork Width Measurement");
				return false;
			}
		}
		
		if($(".ui-accordion-content-active").find(".fork_length1").val() == ""){
			alert("Enter Fork Length");
			return false;
		}
		if($(".ui-accordion-content-active").find(".fork_width1").val() == ""){
			alert("Enter Fork Width");
			return false;
		}
		if($(".ui-accordion-content-active").find(".fork_width2").val() == ""){
			alert("Outer Diameter of Bar/Pin/Shaft Required");
			return false;
		}
		if($(".ui-accordion-content-active").find(".fork_thickness1").val() == ""){
			alert("Enter Fork Thickness");
			return false;
		}
		
		
		if($(".ui-accordion-content-active").find(".mounting_shaft_outside").val() == ""){
			alert("Enter Mounting Shaft Outside Diameter");
			return false;
		}
		if($(".ui-accordion-content-active").find(".collar_inside_diameter").val() == ""){
			alert("Enter Collar Inside Diameter");
			return false;
		}
		if($(".ui-accordion-content-active").find(".collar_outside_diameter").val() == ""){
			alert("Enter Collar Outside Diameter");
			return false;
		}
		if($(".ui-accordion-content-active").find(".make").val() == ""){
			alert("Enter First Name");
			return false;
		}
		if($(".ui-accordion-content-active").find(".model").val() == ""){
			alert("Enter Company Name");
			return false;
		}
		openNextAccordionPanel();
	});
	$("body").on("click",".btn_previous",function(){
		
		openPreviousAccordionPanel();
	});
	$("#faq_form").submit(function(){
		if($(".ui-accordion-content-active").find(".make").val() == ""){
			alert("Enter First Name");
			return false;
		}
		if($(".ui-accordion-content-active").find(".model").val() == ""){
			alert("Enter Company Name");
			return false;
		}
		if($(".ui-accordion-content-active").find(".contact_info").val() == ""){
			alert("Enter Email Address");
			return false;
		}
		if($(".ui-accordion-content-active").find(".first_name").val() == ""){
			alert("Enter First Name");
			return false;
		}
		if($(".ui-accordion-content-active").find(".company_name").val() == ""){
			alert("Enter Company Name");
			return false;
		}
		

		return false;
	});
} );
// ]]></script>

    </div>
  </div>

</div>
